.ccal { width: 18em; font-size: 0.8em; }
.ccal ul { margin: 0; padding: 0; text-align: left; }
.ccal li { list-style-type: none; display: inline-block; width: 13.2%; cursor: pointer; text-align: center; }
.ccal li span { display: inline-block; line-height: 1.8em; }
.ccal li.calmonth { width: 66%; }
.ccal li span { padding: 0.1em 0.05em; display: block; }

.ccal li.calprev span, .ccal li.calnext span { background: #eee; color: #aaa; }
.ccal .calbody li.selected span { background: #00CCFF; color: white; }

.ccal .calbody li.preselected span { background: #99eeFF; color: white; }

.ccal * { -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; }

.today { color: brown; font-weight: bold; }